---
// Componente para el efecto Matrix
---

<div id="matrix-container" class="fixed inset-0 pointer-events-none opacity-0 transition-opacity duration-1000 z-50">
	<canvas id="matrix-canvas" style="width:100vw;height:100vh;display:block;"></canvas>
</div> 